@model PontoID.Web.Models.AlunoViewModel

@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content">
    <div class="row content-header">
        <div class="col-md-10">
        </div>
        <div class="col-md-2 float-right">
            <a class="btn" asp-action="Index"> <i class="fas fa-arrow-left"></i> Retornar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body card-content">
                    <div class="row">
                        <div class="col-md-10">
                            <h2 class="card-title">Confirma a exclusão deste item?</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DataNascimento)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.DataNascimento)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Cpf)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Cpf)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Cadastro)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Cadastro)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Atualizado)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Atualizado)
                                </dd>
                            </dl>

                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
