@model PontoID.Web.Models.AlunoViewModel

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content">
    <div class="row content-header">
        <div class="col-md-10">
            <h3>Detalhes</h3>
        </div>
        <div class="col-md-2 float-right">
            <a class="btn" asp-action="Index"> <i class="fas fa-arrow-left"></i> Retornar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body card-content">
                    <div class="row">
                        <div class="col-md-12">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DataNascimento)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.DataNascimento)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Cpf)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Cpf)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Cadastro)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Cadastro)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Atualizado)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Atualizado)
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-primary float-right" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Turmas</h3>
                            <hr />
                            <form asp-action="AdicionarTurma" asp-controller="Aluno">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="TurmaId" class="control-label"></label>
                                            <select asp-for="TurmaId" class="form-control" asp-items="ViewBag.Turmas"></select>
                                            <span asp-validation-for="TurmaId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group float-right">
                                            <input type="submit" value="Adicionar" class="btn btn-primary btn-add-turma" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Turma.Nome)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Turma.Turno)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Turma.NomeEscola)
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Turmas)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Nome)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Turno)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.NomeEscola)
                                                    </td>
                                                    <td>
                                                        <form asp-action="ExcluirTurma" asp-controller="Aluno">
                                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                            <input type="hidden" asp-for="Id" />
                                                            <input type="hidden" value="@item.Id" name="TurmaId"/>
                                                            <button type="submit" class="btn-inrow-table"><i class="fas fa-trash-alt"></i></button>
                                                        </form>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

