@model PontoID.Web.Models.TurmaViewModel

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content">
    <div class="row content-header">
        <div class="col-md-10">
            <h3>Detalhes</h3>
        </div>
        <div class="col-md-2 float-right">
            <a class="btn" asp-action="Index"> <i class="fas fa-arrow-left"></i> Retornar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body card-content">
                    <div class="row">
                        <div class="col-md-12">
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Nome)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Nome)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Descricao)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Descricao)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Turno)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Turno)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Escola)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Escola.Nome)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Cadastro)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Cadastro)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Atualizado)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Atualizado)
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-primary float-right" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

