@model IEnumerable<PontoID.Web.Models.TurmaViewModel>

@{
    ViewData["Title"] = "Turmas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<section class="content">
    <div class="row content-header">
        <div class="col-md-10">
            <h3>Turmas</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body card-content">
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                <a class="btn btn-success" asp-action="Create"> <i class="fas fa-plus"></i> Novo</a>
                            </p>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Nome)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Descricao)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Turno)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Escola)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Nome)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Descricao)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Turno)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NomeEscola)
                                            </td>
                                            <td>
                                                <a asp-controller="Turma" asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit"></i></a>
                                                <a asp-controller="Turma" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-search"></i></a>
                                                <a asp-controller="Turma" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

